rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in the 'messages' collection
    match /messages/{message} {
      // Allows writing to new (nonexistent) documents
      allow create: if true;
    }
  }
}